{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="jaune" >
			{% block header %}
				<div class="container">
					<div class="row text-right">
						<div class="col align-self-end contact">
							<h3> <a href="/contact"> <span>Contactez-nous</span> </a></h3>
						</div>
					</div>
					<div class="row ">
						<div class="col">
                            <A HREF="/"><img class="mx-auto d-block" src="/img/ezohiko-logo-baseline.png" srcset="/img/logo-anime.svg" alt="logo Ezohiko animé" width="300px"></A>
						</div>
					</div>
					<div class="row titre">
						<div class="col ">
							<h1>Avec des <strong>solutions numériques</strong>  à 360°<br>
								et une méthologie <strong>sur-mesure</strong>
							</h1>
						</div>
					</div>
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
